[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/nightly/cu118"
verify_ssl = true
name = "downloadpytorch"

[packages]
numpy = "*"
pandas = "*"
torch = {version = "*", index = "downloadpytorch"}
ray = {extras = ["default"], version = "*"}
tabulate = "*"
transformers = "*"
datasets = "*"

[dev-packages]

[requires]
python_version = "3.9.12"

[pipenv]
allow_prereleases = true
