[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu118"
verify_ssl = true
name = "pytorch"

[packages]
torch = "*"
torchvision = "*"
numpy = "*"
pandas = "*"
scipy= "*"
tabulate = "*"
ray = "*"
transformers = "*"
datasets = "*"

[dev-packages]

[requires]
python_version = "3.9.12"

[pipenv]
allow_prereleases = false
