[Unit]
Description=Ray cluster
Requires=network-online.target
After=network-online.target time-sync.target

[Service]
Type=simple
User=tuyen
WorkingDirectory=/home/USER/git/ray-quickstart
ExecStart=/bin/bash -c "source /home/USER/anaconda3/etc/profile.d/conda.sh && conda activate ray-quickstart && pipenv run /home/USER/git/ray-quickstart/scripts/ray_start.sh"
ExecStop=/bin/bash -c "source /home/USER/anaconda3/etc/profile.d/conda.sh && conda activate ray-quickstart && pipenv run /home/USER/git/ray-quickstart/scripts/ray_stop.sh"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
